<div class = "orders">
<h1>Shoes Orders</h1>

<% @orders.each do |order| %>
<div>
<b>Name:</b>
<p><%= order.name %></p>

<b>Address:</b>
<p><%= order.address %></p>

<b>Address:</b>
<p><%= order.address %></p>

<b>Order:</b>
<p><%= order.quantity %> x <%= order.size%> size.</p>

</div>

<% end %>
</div>